* {
  box-sizing: border-box;
}

:focus {
 outline: none;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, #00e4fd, #100278);
  background-repeat: no-repeat;
}

input {
  background-color: hsla(0, 0%, 100%, 0);
  /* I just wanted a transparent input background. */
  border-radius: 5px;
  border-color: hsla(0, 0%, 100%, 10);
  color: hsl(0, 0%, 100%);
  height: 50px;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

input::placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 85%;
}

/* Made a flex Box so it adjusts and aligns */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100%; */
  color: hsl(0, 0%, 100%);
}

.search-container input,
.search-container .suggestions {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.search-container input {
  margin-top: 200px;
}

.search-container .suggestions {
  background-color: #11ffee00;
  cursor: pointer;
}

ul {
  padding-left: 0px;
}

ul.has-suggestions {
  margin: 0px;
  border: solid;
  border-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-top: 1px solid;
}
ul li {
  list-style-type: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
}
ul li:hover {
  color:black;
}

.highlight {
  background-color: hsla(0, 0%, 100%, 50%) ;
}

@media (min-width: 750px){
  .search-container input,
  .search-container .suggestions  {
    width: 400px;
    font-size: 1.5rem;
  }
}

@media (min-width: 600px){
  .search-container input,
  .search-container .suggestions  {
    width: 75%;
    font-size: 2rem;
  }
}

